<div id="services">
  <div class="col-lg-3 col-sm-6">
    <div class="card hovercard">
      <div class="avatar">
        <%= image_tag current_user.avatar.url %>
      </div>
      <div class="info">
        <div class="title">
          <%= link_to user.name, user %>
        </div>
      </div>
    </div>
  </div>
</div>
