<div class="row">
  <div class="col-sm-3"><%= f.label :content, t "answer" %></div>
  <div class="col-sm-5"><%= f.text_field :content %></div>
  <div class="col-sm-4"><%= f.check_box :is_correct, class: "slectOne" %></div>
</div>
