<li id="word-<%= word.id %>">
  <% if current_user.admin? %>
    <%= link_to t("delete"), word, method: :delete, data: {confirm: t("sure")},
      class: "btn btn-danger btn-sm pull-right" %>
    <%= link_to t("edit"), edit_word_path(word),
      class: "btn btn-warning btn-sm pull-right" %>
  <% end %>
  <div class="panel-heading">
    <%= word.content %>
  </div>
</li>
