<aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder= <%= t"search" %> >
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <ul class="sidebar-menu">
        <li class="header"> <%= t"main" %> </li>
      </ul>
    </section>
</aside>
